
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}

#portfolio {
    background-color: #718daa;
}



.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/* css cards */

 .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
  .card {
    flex: 0 0 250px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  } 
  .card img {
    max-width: 100%;
  }
  .card .text {
    padding: 0 20px 20px;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
  }

  .card a {
      color: white;
  }

  /* contact */
  .gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.btn {
  border-width: 0;
  border-radius: 3px;
  color: #2B3335;
}

.btn-a {
  background-color: #CFBBA9;
}

.btn-b {
  background-color: #AC9785;
}

.btn-c {
  background-color: #4E5356;
}

.btn-c span,
.btn-c {
  color: #C5B1A7;
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
}

  section {
    padding: 15px 15px 50px 15px;
    color: #2B3335;
    border-radius: 5%;
  }

  .section-contact {
    background: lightgray;
  }
  
  .section-contact a {
    color: #2B3335;
    font-size: 1.5em;
  }
  
  .font-weight-normal {
    font-weight: normal;
  }
  
  .font-weight-bold {
    font-weight: bold;
  }
  
  section.jumbotron {
    background-image: url(http://previews.123rf.com/images/rido/rido1506/rido150600049/41262919-Closeup-shot-of-laptop-with-digitaltablet-and-smartphone-on-desk-Modern-devices-on-desk-at-office-Th-Stock-Photo.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
    position: relative;
    margin: 0;
  }
  
  section.jumbotron .container {
    padding: 200px 0;
  }
  
  section.jumbotron:before {
    content: "";
    position: absolute;
    opacity: .5;
    background: #000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  section.jumbotron .container {
    position: relative;
  }
